<div class="{{class-names}}">
    <br>
    <p><strong>Released:</strong> {{released}}</p>
    <p><strong>Runtime:</strong> {{runtime}}</p>
    <p><strong>Genre:</strong> {{genre}}</p>
    <br>
    <p><strong>Director:</strong> {{director}}</p>
    <p><strong>Writer:</strong> {{writer}}</p>
    <p><strong>Actors:</strong> {{actors}}</p>
    <br>
    <p><strong>Language:</strong> {{language}}</p>
    <p><strong>Country:</strong> {{country}}</p>
    <p><strong>Awards:</strong> {{awards}}</p>
    <br>
    <p><strong>Metascore:</strong> {{metascore}}</p>
    <p><strong>IMDb Rating:</strong> {{imdbRating}}</p>
    <p><strong>IMDb Votes:</strong> {{imdbVotes}}</p>
</div>