<div class="container">

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center well">
            <h1>Welcome to Movie Lists!</h1>
            <div class="description">
                <p class="dimgrey">Here's a description of Movie Lists which will make you stoked about signing up and using this service!</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">

            <div class="form-box panel panel-default">
                <div class="form-top panel-heading">
                    <div class="form-top-left ">
                        <h3>Login</h3>
                        <p class="text-push">Gain access to exciting features.</p>
                    </div>
                    <div class="form-top-right">
                        <span class="glyphicon glyphicon-lock form-control-feedback darksalmon"></span>
                    </div>
                </div>
                <div class="form-bottom panel-body">
                    <form role="form" {{action 'loginUser' on='submit' }} class="login-form">
                        <div class="form-group">
                            <label class="sr-only" for="login-email">Email:</label>
                            {{input class="form-login-email form-control" id="login-email" placeholder="Email" type="email" value=loginEmail}}
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="login-password">Password:</label> 
                            {{input class="form-login-username form-control" id="login-password" placeholder="Password" type="password" value=loginPassword}}
                        </div>
                        <button type="submit" class="btn btn-custom">Login</button>
                    </form>
                    {{#if error-login}}
                        {{#display-alert class-names='alert-danger' message=error-login}}{{/display-alert}}
                    {{/if}}
                </div>
            </div>

        </div>

        <div class="col-sm-2"></div>
        <div class="col-sm-4">

            <div class="form-box panel panel-default">
                <div class="form-top panel-heading">
                    <div class="form-top-left">
                        <h3>Register today</h3>
                        <p class="text-push">It takes less than a minute.</p>
                    </div>
                    <div class="form-top-right">
                        <span class="glyphicon glyphicon-pencil form-control-feedback darksalmon"></span>
                    </div>
                </div>

                <div class="form-bottom panel-body">
                    <form role="form" {{action 'createUser' on='submit' }} class="registration-form ">
                        <div class="form-group ">
                            <label class="sr-only" for="form-register-email">Email</label>
                            {{input class="form-register-email form-control" id="register-email" placeholder="Email" type="email" value=registerEmail}}
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-register-username">Username</label>
                            {{input class="form-register-username form-control" id="register-username" placeholder="Username" type="text" value=registerUsername}}
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-register-password">Password</label>
                            {{input class="form-register-password form-control" id="register-password" placeholder="Password" type="password" value=registerPassword}}
                        </div>
                        <button type="submit" class="btn btn-custom">Register</button>
                    </form>
                    {{#if error-register}}
                        {{#display-alert class-names='alert-danger' message=error-register}}{{/display-alert}}
                    {{/if}}
                </div>
            </div>

        </div>
    </div>
</div>