<h1>Login</h1>

<div class="well">Or create an account {{#link-to 'register'}}here{{/link-to}}.</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Username:</label> {{input type="text" class="form-control" placeholder="Your username" value=username}}
        </div>
        <div class="form-group">
            <label>Password:</label> {{input type="password" class="form-control" placeholder="Your password" value=password}}
        </div>
        <button class="btn btn-success" {{action 'loginUser'}} disabled="{{unless isValid 'disabled'}}">Login</button>
    </div>
</div>

{{#if responseMessage}}
<br>
<div class="col-md-4">
    <div class="alert alert-danger" role="alert">
        <p id="success-alert">{{responseMessage}}</p>
    </div>
</div>
{{/if}}