<div>
  <div>
    {{input type="text" value=title placeholder="Title" enter="search"}}
    {{input type="text" value=year placeholder="Year"}}
    <button {{action "search" title year}}>Search</button>
  </div>
  <p> {{model.firstObject.Title}} </p>
  <p>Year: {{model.lastObject.Year}}</p>
  <p>IMDB rating {{model.lastObject.imdbRating}}</p>
  <img src="{{model.lastObject.Poster}}" />

</div>
