<div class="container">
    <div class="row">
        {{#unless movie.title}}
        <h1>We couldn't find the movie "{{title}}"</h1>
        {{else}}
        <h1>{{movie.title}} <span class="h3">({{movie.year}})</span></h1>
        <div class="row">
            <div class="col-sm-4">
                {{#if (not-eq movie.poster 'N/A')}}
                    <img class="padding-movie" src="{{movie.poster}}" alt="Image" />
                {{/if}}
            </div>
            {{#if (not-eq movie.poster 'N/A')}}
                {{#view-movie class-names='col-sm-6' released=movie.released runtime=movie.runtime 
                genre=movie.genre director=movie.director writer=movie.writer actors=movie.actors 
                language=movie.language country=movie.country awards=movie.awards metascore=movie.metascore 
                imdbRating=movie.imdbRating imdbVotes=movie.imdbVotes}}{{/view-movie}}
            {{else}}
                {{#view-movie class-names='text-push-more' released=movie.released runtime=movie.runtime 
                genre=movie.genre director=movie.director writer=movie.writer actors=movie.actors 
                language=movie.language country=movie.country awards=movie.awards metascore=movie.metascore 
                imdbRating=movie.imdbRating imdbVotes=movie.imdbVotes}}{{/view-movie}}
            {{/if}}
        </div>
        <p class="text-push h3">Movie Plot</p>
        <p class="text-push">{{movie.plot}}</p>
        {{/unless}}
    </div>
</div>