<div class="container">

  <div class="row">
    {{#unless searchedFor}}
    <h1>Search for a movie</h1>
    {{else}}
    <h1>Showing results for: <span class="cap-first-letter">{{searchedFor}}</span></h1>
    {{/unless}}

    <form role="form" {{action 'search' movieTitle on='submit' }} class="search-form form-inline well col-sm-18">
      <div class="form-group">
        <label class="sr-only" for="search">Search:</label>
        {{input class="form-search form-control" type="text" placeholder="Movie title" enter="search" value=movieTitle}}
        <button type="submit" class="btn btn-custom">Search</button>
      </div>
    </form>

  </div>

  <div class="row">

      {{#each model as |movie index|}} {{#if (alternate-col index)}}
      <div class="list-group-item col-sm-6" {{action 'selectMovie' movie.title on='mouseDown' }}>
        <h2 class="top-shy">{{movie.title}} <span class="h3">({{movie.year}})</span></h2>
        {{#if (not-eq movie.poster 'N/A')}}
        <img class="poster-padding" src="{{movie.poster}}" alt="Image" />
        {{/if}}
      </div>
      {{else}}
      <div class="list-group-item col-sm-6" {{action 'selectMovie' movie.title on='mouseDown' }}>
        <h2 class="top-shy">{{movie.title}} <span class="h3">({{movie.year}})</span></h2>
        {{#if (not-eq movie.poster 'N/A')}}
        <img class="poster-padding" src="{{movie.poster}}" alt="Image" />
        {{/if}}
      </div>
      {{/if}}
      {{/each}}
  </div>

</div>