<div class="container">

  <div class="row">
    {{#each model as |movie|}}
      <h1> {{movie.Title}} </h1>
      <p>Release Date: {{movie.Year}} | IMDB rating: {{movie.imdbRating}}</p>
      <img src="{{movie.Poster}}" /> 
    {{else}}
      <h1>We couldn't find that movie.</h1>
      <p class="text-push">Please make sure you've spelled the title correctly, or try searching for a different title.</p>
    {{/each}}
  </div>
  
</div>